#import sickbeard
#from sickbeard.downloaders.generic import GenericDownloader
#set global $title="Config - Downloaders"
#set global $header="Downloaders"

#set global $sbPath="../.."

#set global $topmenu="config"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/configDownloaders.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>
<script type="text/javascript" charset="utf-8">

</script>

<div id="config">
<div id="config-content">

<form id="configForm" action="saveDownloaders" method="post">

            <div id="config-components">

                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Downloader Priorities</h3>
                        <p>Check off and drag the downloaders into the order you want them to be used.</p>

                        <blockquote style="margin: 20px 0;">NZB/Torrent/VOD downloaders can be toggled in <b><a href="$sbRoot/config/search">Search Settings</a></b></blockquote>
                    </div>

                    <fieldset class="component-group-list">
                        <ul id="downloaderOrderList">
                        #for $curDownloader in $sickbeard.downloaders.sortedDownloaderList():
                            #if $curDownloader.downloaderType == $GenericDownloader.NZB and not $sickbeard.USE_NZBS:
                                #continue
                            #elif $curDownloader.downloaderType == $GenericDownloader.TORRENT and not $sickbeard.USE_TORRENTS:
                                #continue
                            #elif $curDownloader.downloaderType == $GenericDownloader.VOD and not $sickbeard.USE_VODS:
                                #continue
                            #end if
                            #set $curName = $curDownloader.getID()
                          <li class="ui-state-default" id="$curName">
                            <input type="checkbox" id="enable_$curName" class="checkbox downloader_enabler" #if $curDownloader.isEnabled() then "checked=\"checked\"" else ""#/>
                            <a href="$curDownloader.url" class="imgLink" target="_new"><img src="$sbRoot/images/downloaders/$curDownloader.imageName()" alt="" title="$curDownloader.name" width="16" height="16" /></a>
                            $curDownloader.name
                            <span class="ui-icon ui-icon-arrowthick-2-n-s pull-right"></span>
                          </li>
                        #end for
                        </ul>
                        <input type="hidden" name="downloader_order" id="downloader_order" value="<%=" ".join([x.getID()+':'+str(int(x.isEnabled())) for x in sickbeard.downloaders.sortedDownloaderList()])%>"/>
                        <br/><input type="submit" class="btn config_submitter" value="Save Changes" /><br/>
                    </fieldset>
                </div><!-- /component-group1 //-->

                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Configure Built-In Downloaders</h3>
                        <p></p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <label class="clearfix" for="editADownloader">
                                <span class="component-title jumbo">Configure Downloader:</span>
                                <span class="component-desc">
                                    #set $downloader_config_list = []
                                    #for $cur_downloader in {"transmission"}:
                                        #set $cur_downloader_obj = $sickbeard.downloaders.getDownloaderClass($cur_downloader)
                                        #if $cur_downloader_obj.downloaderType == $GenericDownloader.NZB and not $sickbeard.USE_NZBS:
                                            #continue
                                        #elif $cur_downloader_obj.downloaderType == $GenericDownloader.TORRENT and not $sickbeard.USE_TORRENTS:
                                            #continue
                                        #elif $cur_downloader_obj.downloaderType == $GenericDownloader.VOD and not $sickbeard.USE_VODS:
                                            #continue
                                        #end if
                                        $downloader_config_list.append($cur_downloader_obj)
                                    #end for

                                    #if $downloader_config_list:
                                    <select id="editADownloader" class="input-medium" >
                                        #for $cur_downloader in $downloader_config_list + [$curDownloader for $curDownloader in $sickbeard.newznabDownloaderList if $curDownloader.default and $curDownloader.needs_auth]:
                                            <option value="$cur_downloader.getID()">$cur_downloader.name</option>
                                        #end for
                                    </select>
                                    #else:
                                    No downloaders available to configure.
                                    #end if
                                </span>
                            </label>
                        </div>


<!-- start div for editing downloaders //-->
#for $curNewznabDownloader in [$curDownloader for $curDownloader in $sickbeard.newznabDownloaderList if $curDownloader.default and $curDownloader.needs_auth]:
                    <div class="downloaderDiv" id="${curNewznabDownloader.getID()}Div">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabDownloader.name URL</span>
                                <input class="component-desc" type="text" id="${curNewznabDownloader.getID()}_url" value="$curNewznabDownloader.url" size="40" disabled/>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabDownloader.name API Key</span>
                                <input class="component-desc newznab_key" type="text" id="${curNewznabDownloader.getID()}_hash" value="$curNewznabDownloader.key" size="40" />
                            </label>
                        </div>
                    </div><!-- /${curNewznabDownloader.getID()}Div //-->
#end for

                    <div class="downloaderDiv" id="transmissionDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Host:</span>
                                <input class="component-desc" type="text" name="transmission_host" value="$sickbeard.TRANSMISSION_HOST" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Port:</span>
                                <input class="component-desc" type="text" name="transmission_port" value="$sickbeard.TRANSMISSION_PORT" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Username:</span>
                                <input class="component-desc" type="text" name="transmission_username" value="$sickbeard.TRANSMISSION_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Password:</span>
                                <input class="component-desc" type="password" name="transmission_password" value="$sickbeard.TRANSMISSION_PASSWORD" size="40" />
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Base directory:</span>
                                <input class="component-desc" type="text" name="transmission_basedir" id="transmission_basedir" value="$sickbeard.TRANSMISSION_BASEDIR" size="40" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">The <b>base</b>directory on the Transmission server where Sick Beard should store your files.</span>
                            </label>

                        </div>

                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Start paused:</span>
                                <input type="checkbox" id="transmission_paused" name="transmission_paused" class="checkbox" #if $sickbeard.TRANSMISSION_PAUSED then "checked=\"checked\"" else ""#/>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Ratio:</span>
                                <input class="component-desc" type="text" name="transmission_ratio" value="$sickbeard.TRANSMISSION_RATIO" size="40" />
                            </label>
                        </div>
                    </div><!-- /transmissionDiv //-->

<!-- end div for editing downloaders -->

                    <input type="submit" class="btn config_submitter" value="Save Changes" /><br/>

                    </fieldset>
                </div><!-- /component-group2 //-->

            </div><!-- /config-components //-->

</form>
</div></div>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
